.list {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.li-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.li-link {
  text-decoration: none;
  text-align: center;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:  #525564;
  color:  #FEF6EB;
  font-size: 14px;
}

.li-link:link {
  color: red;
}

.li-link:visited {
  color: whitesmoke;
}

.li-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.action-button {
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:  #525564;
  color:  #FEF6EB;
  font-family: "Roboto", sans-serif;
}

.label-status {
  color: gray;
}

.text {
  text-decoration: none;
  text-align: justify;
  color: black;
  font-size: 16px;
}
